<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat room</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <script src="https://kit.fontawesome.com/7dc8e45a22.js" crossorigin="anonymous"></script>
</head>
<body class="w-full bg-gray-900 font-mono text-green-600 overflow-hidden">
    <main class="md:max-w-5/6 lg:max-w-8/12 mx-auto shadow h-screen bg-gray-800">
        <section class="flex justify-center items-center text-lg pt-6">
            <i class="fad fa-brackets-curly" style="--fa-secondary-opacity: 0"></i>
            <i class="fad fa-empty-set"></i>
            <i class="fad fa-brackets-curly"
                style="--fa-primary-opacity: 0; --fa-secondary-opacity: 1.0"></i>
        </section>
        <h1 class="text-lg text-center">
            < chat.io />
        </h1>
        <section id="app">
            <form @submit.prevent="setName" class="w-full mx-4" v-if="!isReady">
                <input type="text" v-model="name" placeholder="Tu nombre" class="text-sm border border-green-600 bg-transparent  rounded px-3 py-1 focus:outline-none mr-4 placeholder-green-800">
                <button class="text-sm border-green-600 border rounded px-3 py-1 text-sm"> Save </button>
            </form>
            <form @submit.prevent="send" class="flex justify-end items-center m-2" v-if="isReady">
                <h3 class="text-sm pr-2 opacity-75"> <{{ name }}/> </h3>
                <input
                type="text"
                class="w-8/12 border border-green-600 bg-transparent rounded px-3 py-1 focus:outline-none mr-4"
                v-model="newMessage">
                <button class="border-green-600 border rounded px-3 py-1 text-sm">send</button>
            </form>
            <section v-if="isReady" class="p-3 text-sm"> Online: {{ whoIsOnline }}</section>
            <main class="m-2">
                <section v-if="typing.length > 0" class="uppercase px-4 py-2 opacity-75">
                    <small v-for="people in typing" class="px-2 mr-2">
                        {{ people }} is typing <!-- Aca pondria el ... animado -->
                    </small>
                </section>
                <ul class="flex flex-col">
                <li
                    v-for="message in messages"
                    class=" border-green-600 px-2 py-1 mb-1 max-w-5/6"
                    v-bind:class="getMsgClassed(message.author)">
                    {{ message.author != name ? message.author + ':' : '' }} {{ message.msg }}
                </li>
                </ul>
            </main>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var socket = io();
        let app = new Vue({
            el: '#app',
            data: {
                newMessage: null,
                messages: [],
                typing: [],
                name: null,
                isReady: false,
                online: [],
            },
            created() {
                window.onbeforeunload = () => {
                    socket.emit('leave', this.name);
                }
                socket.emit('Creado', 'Pancho');

                socket.on('Creado', (data) => {
                    console.log(data);
                });

                socket.on('chatMessage', (data) => {
                    this.messages.unshift({msg: data.msg, author: data.author});
                });

                socket.on('typing', (name) => {
                    if (this.typing.indexOf(name) < 0) {
                        this.typing.push(name);
                    }
                });

                socket.on('stopedTyping', (name) => {
                    let namePos = this.typing.indexOf(name);
                    this.typing.splice(namePos, 1);
                });

                socket.on('whosOnline', (data) => {
                    // Hay que ver como podemos hacer que no se pisen con las nuevas sesiones
                    this.online = data
                });
            },
            watch: {
                newMessage(value) {
                    value 
                    ? socket.emit('typing', this.name)
                    : socket.emit('stopedTyping', this.name)
                }
            },
            methods: {
                send() {
                    if (this.newMessage.length > 0) {
                        this.messages.unshift({msg: this.newMessage, author: this.name});
                        socket.emit('chatMessage', {msg: this.newMessage, author: this.name});
                        this.newMessage = null;
                    }
                },
                getMsgClassed(type){
                    return {
                        'text-right ml-auto mr-2' : type == this.name,
                        'text-left  mr-auto ml-2' : type != this.name
                    }
                },
                setName() {
                    this.isReady = true;
                    socket.emit('whosOnline', this.name);
                }
            },
            computed: {
                whoIsOnline() {
                    return this.online.join(', ');
                },
            },
        });
    </script>
</body>
</html>