<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat room</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <script src="https://kit.fontawesome.com/7dc8e45a22.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="w-full bg-gray-900 h-screen font-mono text-green-600 overflow-hidden">
        <h1 class="text-4xl font-light text-center">
            < chat.io />
        </h1>
        <section id="app">
            <section v-if="!isReady">
                <form @submit.prevent="setName" class="w-full mx-4" >
                    <input type="text" v-model="name" placeholder="Tu nombre" class="text-sm border border-green-600 bg-transparent  rounded px-3 py-1 focus:outline-none mr-4 placeholder-green-800">
                    <button class="text-sm border-green-600 border rounded px-3 py-1 text-sm"> Save </button>
                </form>
            </section>
            <section v-else>
                <form @submit.prevent="send" class="flex justify-end items-center m-2">
                    <h3 class="text-sm pr-2 opacity-75"> <{{ name }}/> </h3>
                    <input
                    type="text"
                    class="w-8/12 border border-green-600 bg-transparent rounded px-3 py-1 focus:outline-none mr-4"
                    v-model="newMessage">
                    <button class="border-green-600 border rounded px-3 py-1 text-sm">send</button>
                </form>
                <section v-if="typing.length > 0" class="uppercase px-4 py-2 opacity-75">
                    <small v-for="people in typing" class="px-2 mr-2">
                        {{ people }} is typing <!-- Aca pondria el ... animado -->
                    </small>
                </section>
                <section class="p-3 text-sm"> Online: {{ whoIsOnline }}</section>
                <main class="m-2">
                    <ul class="flex flex-col">
                    <li
                        v-for="message in messages"
                        class=" border-green-600 px-2 py-1 mb-1 max-w-5/6"
                        v-bind:class="getMsgClassed(message.author)">
                        {{ message.author != name ? message.author + ':' : '' }} {{ message.msg }}
                    </li>
                    </ul>
                </main>
            </section>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var socket = io();
        let app = new Vue({
            el: '#app',
            data: {
                newMessage: null,
                messages: [],
                typing: [],
                name: null,
                isReady: false,
                online: [],
            },
            created() {
                window.onbeforeunload = () => {
                    socket.emit('leave', this.name);
                }
                socket.emit('Creado');

                socket.on('Creado', (data) => {
                    this.online = data.People;
                    this.messages = data.Chat;
                });

                socket.on('chatMessage', (data) => {
                    console.log(data);
                    this.messages = data;
                });

                socket.on('typing', (name) => {
                    if (this.typing.indexOf(name) < 0) {
                        this.typing.push(name);
                    }
                });

                socket.on('stopedTyping', (name) => {
                    let namePos = this.typing.indexOf(name);
                    this.typing.splice(namePos, 1);
                });

                // socket.on('joined', (data) => {
                //     this.online.push( data );
                // });

                socket.on('whosOnline', (data) => {
                    // Hay que ver como podemos hacer que no se pisen con las nuevas sesiones
                    console.log(data);
                    for (let i = 0; i < data.length; i++) {
                        const person = data[i];
                        console.log(person);
                        console.log(this.online.indexOf(person));
                        if (this.online.indexOf(person) < 0) {
                            this.online.push(person);
                        }
                    }
                });

                // socket.on('leave', (data) => {
                //     let namePos = this.online.indexOf(data);
                //     this.online.splice(namePos, 1);
                // });
                setInterval((app) => {
                    this.cleanLastMsg();
                }, (1000 * 30) ); // 30 segundos
            },
            watch: {
                newMessage(value) {
                    value 
                    ? socket.emit('typing', this.name)
                    : socket.emit('stopedTyping', this.name)
                }
            },
            methods: {
                send() {
                    if (this.newMessage.length > 0) {
                        this.messages.unshift({msg: this.newMessage, author: this.name});
                        socket.emit('chatMessage', {msg: this.newMessage, author: this.name});
                        this.newMessage = null;
                    }
                },
                getMsgClassed(type){
                    return {
                        'text-right ml-auto mr-2' : type == this.name,
                        'text-left  mr-auto ml-2' : type != this.name
                    }
                },
                setName() {
                    this.isReady = true;
                    this.online.push(this.name);
                    console.log(this.online);
                    socket.emit('joined', this.name);
                    socket.emit('whosOnline', this.online);
                },
                cleanLastMsg() {
                    socket.emit('updateMsg');
                }
            },
            computed: {
                whoIsOnline() {
                    return this.online.join(', ');
                },
            },
        });
    </script>
</body>
</html>